html,body {
	height: 100%;
}

* {
	font-family: Graphik Regular;
}

ul {
	list-style-type: none;
}

table, th, td {
	border-collapse: collapse;
	text-align: left;
	border: 1px solid black;
	
}

table {
	width: 100%;
}

td, th {
	height: 50px;
	padding: 10px;
	width:200px;
	min-width: 100px;
}

th {
	background-color: gray;
	margin-bottom: 50px;
}

.headers {
	margin-bottom:5px;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top:30px;
}

.pop-container {
	text-align: center;
/*	display: none;*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

form {
	background-color: gray;}

input {
	font-size: 20px;
	width: 300px;
	margin-bottom:5px;

}